*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root>div{
    height: 100vh;
}
p{
    font-size: 1rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-site-color);
}
/*Variables*/
:root{
    --main-site-color: #4255ff;
    --main-site-color-dark: #7087ff;
    --color-white: #f0f0f0;
    --header-dark:#22242c;
    --background-light:#F6F7FB;
    --background-dark: #1c1e26;
    --fontweight-med: 600;
}

/*header-compo style*/
.container{
    align-items: center;
    padding: 1rem 1.2rem;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    align-items: center;
}
header nav button{
    padding: 0.4rem 0.8rem;
    height: 2.5rem;
}
#flash-card{
    font-weight: var(--fontweight-med);
    color: var(--main-site-color);
    margin-right: 1.5rem;
}
#flash-card:hover{
    opacity: 0.8;
}

/*header-menu compo style*/
#header-menu{
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    height: 16rem;
    width: 18rem;
    box-shadow: 0 0 5px -1px gray;
    border-radius: 0.5rem;
}
#header-menu div{
    margin: 1.3rem 1rem;
}

/*home page style*/
#app-descriptiton{
    text-align: center;
    padding: 4rem 18rem;
}
#app-descriptiton h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
#app-descriptiton button{
    padding: 0.8rem 2rem;
    margin-top: 1.3rem;
}
.hoverBtn{
    background-color: var(--main-site-color);
    color: var(--color-white);
    border: none;
    border-radius: 2rem;
    font-weight: var(--fontweight-med);   
}
.hoverBtn:hover{
    background-color: #423ed8;
}

/*login section style*/
.login-section{
    position: absolute;
    width: 65rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px -1px gray;
    border-radius: 0.3rem;
}
.hidden{
    display: none;
}
.login-section> div{
    padding: 5rem 10rem;
}
.login-section form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.login-section form input{
    height: 2.5rem;
    width: 30rem;
}
.close-btn{
    width: 2.8rem;
    aspect-ratio: 1/1;
    font-size: 1.3rem;
    border: 2px var(--main-site-color) solid;
    border-radius: 2rem;
    color: var(--main-site-color);
    background-color: var(--color-white);
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}
.login-section form .submit{
    width: 30rem;
    height: 3rem;
    background-color: var(--main-site-color);
    color: var(--color-white);
    border: none;
    border-radius: 1.5rem;
}
/*profile page style*/
#profile-sec{
    border: 1px #000 solid;
    border-radius: 0.3rem;
    margin: 2rem 0;
}
#profile-sec div{
    margin: 1rem 2rem;
}

/*Light-mode style*/
.light-mode{
    background-color: var(--background-light);
}
/*Dark-mode style*/
.dark-mode{
    color: var(--color-white);
    background-color: var(--background-dark);
}
.light-mode header, .light-mode #header-menu, .light-mode .login-section{
    background-color: #fff;
}
.dark-mode header, .dark-mode #header-menu, .dark-mode .login-section{
    background-color: var(--header-dark);
}
.dark-mode a{
    color: var(--main-site-color-dark);
}
.themeBtn{
    width: 13rem;
    height: 3rem;
    margin: 0.5rem 0.3rem;
    font-size: 1rem;
}
/*responsive design*/
@media (max-width: 480px) {
    header h1{
        font-size: 1.4rem;
    }
    #app-descriptiton{
        padding: 1rem;
    }   
    .login-section{
        height: 35rem;
        width: 20rem;
        top:40%;
    }
    .login-section> div{
        padding: 5rem 2rem;
    }
    .login-section form input{
    height: 2.5rem;
    width: 14rem;
}
.login-section form .submit{
    width: 14rem;
    height: 3rem;
}
}